/* sheard style */
h1 {
  font-size: 50px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

/* navbar style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px;

}

.nav-items {
  display: flex;
  text-decoration: none;
  gap: 20px;


}

/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px;

}

.banner-text {
  width: 500px;

}

.color {
  color: chocolate;
}

/* Flowers card style */
.title {
  width: 500px;
  margin-left: 35%;
  justify-content: center;
  text-align: center;
}

.flower-cards {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
   gap: 20px;  */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin-left: 30px;
}

.card {
  /* width: 300px;
  height: 100px;
  margin: 100px; */
  border: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;

}

.button {
  background-color: orange;
  color: white;
  width: 280px;
  height: 35px;
}

/* plant lover style */
.lover {
  display: flex;
  justify-content: space-between;
  margin: 200px;
}

.lover-text {
  width: 500px;
  height: 100%;
  gap: 20px;

}


.lover-img {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lover-trest {
  position: absolute;
  top: -20px;
  right: 0;
  width: 250px;
  height: auto;
  z-index: 10;
}

/* Layout style */

.container {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  gap: 30px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.left-side img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex: 1;
  border-radius: 20px;
  /* Added border-radius */
}

.right-side {
  flex: 2;
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* Added border-radius */
}

/* banner two style */
.bannertwo {
  /* display: grid; */
  background-image: url(B12A02-Responsive-Flowers-main/assets/news-letter-bg.png);
  height: 500px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.btnfrom {
  display: flex;
  width: 50%;
  height: ;
  justify-content: center;
  text-align: center;
  margin: 400px;
  margin-top: 200px;

}

.hw {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  color: white;

}

.btntwo {
  background-color: orangered;
  color: white;
}

.from {
  height: 35px;
  width: 600px;
}

/* Footer class */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.p-footer {
  width: 300px;
  font-size: 20px;
  color: rgb(93, 98, 103);
}

.li-footer {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 equal columns */
  grid-template-rows: repeat(2, auto);
  /* 2 rows automatically sized */
  gap: 50px;
  /* optional spacing between items */
  list-style: none;
  padding: 0;
  max-width: 400px;
  /* optional width */

}

.footer-icons {
  gap: 25px;
}